%h1 Include test
%p Demonstrating how includes work.
+include 'partials/test', {title: @title, subtitle: @title.replace(/Title/, 'Subtitle')}
+include 'partials/test', {title: "@title", subtitle: "@subtitle"}
+include 'partials/test', @
%p After text
