#one
  .two{ :title => @two }
    #three.four.five
      .six#seven(title=@three)
    #eight
    #nine
  - for product in @products
    %div#product.article.entry{:id => product.id, :class => product.color }

%div.x{'class': "#{if true then 'y' else ''}"}

- for title in ['Mr', 'Mrs', 'Ms', 'Miss']
  %option{value: title, selected: @title == title}= title

%a{href: [1,2].join()} OMG
%a{ href: "/people?name=#{@name}&page=4" }

%ul.avatars{:class => ("all-shown" if true) }
%ul.avatars{:class => ("all-shown" unless true) }

%ul.avatars{:class => 'all-shown' if false }
%ul.avatars{:class => 'all-shown' unless false }

- otherFunction = (number) -> number + 'number'
- someFunction = (text, options) -> text + options.someOption

%input{ value: someFunction('literal', someOption: otherFunction(1)) }
%input{ value: someFunction('literal', { someOption: otherFunction(1) }) }
%input{ value: someFunction('literal', { someOption: otherFunction(1) }) }
%input{ value: someFunction('literal', 'someOption': otherFunction(1)) }
%input{ value: someFunction('literal', { 'someOption': otherFunction(1) }) }
%input{ value: (someFunction('literal', someOption: otherFunction(1))) }
%input{ value: (someFunction('literal', { someOption: otherFunction(1) })) }
%input{ value: (someFunction('literal', 'someOption': otherFunction(1))) }
%input{ value: (someFunction('literal', { 'someOption': otherFunction(1) })) }
