- available = true
%a{ test: if available then 'yep' else 'nope', another: 'test' }
%a{ test: if available then "yep" else "nope", another: "test" }

- available = false
%a{ test: if available then 'yep' else 'nope', another: 'test' }
%a{ test: if available then "yep" else "nope", another: "test" }

#test{ :text => ['hello', 'all', 'done'].join(' -- '), :another => 'test' }
#test{ :text => ['hello', 'all', 'done'].join(" -- "), :another => 'test' }
#test{ :text => ['hello', "all", 'done'].join(" -- "), :another => 'test' }
#test{ :text => ["hello", "all", "done"].join(" -- "), :another => "test" }

- domain = { get: -> 'test' }
%a{ href: "http://#{ domain.get('fqdn') }" }= domain.get('fqdn')
%a{ href: "http://#{ domain.get("fqdn") }" }= domain.get("fqdn")

- myFunction = (num, options) -> num * options.length
%input{ type: 'text', name: 'padded_number', value: myFunction(@number, length: 3) }
%input{ type: 'text', name: 'padded_number', value: myFunction(@number, { length: 3 }) }
%input{ type: 'text', name: 'padded_number', value: myFunction(@number, 'length': 3 ) }
%input{ type: 'text', name: 'padded_number', value: myFunction(@number, { 'length': 3 } ) }

- func = (p) -> "-#{p}-" 
%div(foo="#{func('foo')}" bar="bar")