<a test='yep' another='test'></a>
<a test='yep' another='test'></a>
<a test='nope' another='test'></a>
<a test='nope' another='test'></a>
<div id='test' text='hello -- all -- done' another='test'></div>
<div id='test' text='hello -- all -- done' another='test'></div>
<div id='test' text='hello -- all -- done' another='test'></div>
<div id='test' text='hello -- all -- done' another='test'></div>
<a href='http://test'>test</a>
<a href='http://test'>test</a>
<input type='text' name='padded_number' value='126' />
<input type='text' name='padded_number' value='126' />
<input type='text' name='padded_number' value='126' />
<input type='text' name='padded_number' value='126' />
<div foo='-foo-' bar='bar'></div>