- available = true
%a{ test: if available then 'yep' else 'nope', another: 'test' }

- available = false
%a{ test: if available then 'yep' else 'nope', another: 'test' }

#test{ :text => ['hello', 'all', 'done'].join(' -- '), :another => 'test' }