%a{ href: '/link', data: {
  test: '123',
  another: 'test' }, nodata: 'yep' }

%a{ :href => '/link', :data => {
      :test => '123',
      :another => 'test'
    }, :nodata => 'yep' }
    
%a{:href=>"/posts", :data => {:author_id => 123}} Posts By Author