%whoo
  %hoo=                          |
    "I think this might get " +  |
    "pretty long so I should " + |
    "probably make it " +        |
    "multiline so it doesn't " + |
    "look awful."                |
  %p This is short.

.share-notebook{ title: 'bar', |
  bar: 'foo' }                 |

%span
  #{ 1 + 1 }
