<div class='prefix_object' id='prefix_object_23'>
  id from `id` property
</div>
<div class='object' id='object_abc_123'>
  id from `to_key` function
</div>
<div class='this_is_object' id='this_is_object_my_987'>
  id from `id()` function
</div>
<div class='number' id='number_290'>
  number
</div>
<div class='my_model_to_key_func' id='my_model_to_key_func_666'>
  id from `to_key` function
</div>
<div class='my_model_id_prop' id='my_model_id_prop_23'>
  id from `id` property
</div>
<div class='my_model_id_func' id='my_model_id_func_42'>
  id from `id()` function
</div>
<div class='my_model_id_func' id='my_model_id_func_42' a='1'>
  with Ruby param
</div>
<div class='my_model_id_func' id='my_model_id_func_42' b='2'>
  with Html param
</div>
<div class='my_model_id_func' id='my_model_id_func_42' b='2' a='1'>
  with Ruby and Html param
</div>
<div class='my_model_id_func' id='my_model_id_func_42' b='2' a='1'>
  with Ruby and Html param
</div>
<div class='custom' id='custom_1'>
  with specific haml object reference
</div>