:coffeescript
  @id_prop = { id: 23 }

  @to_key_fn = {
    to_key: -> 'abc_123'
  }

  @id_fn = {
    to_key: -> 'my_987'
  }

%div[@id_prop, 'prefix']
  id from `id` property

%div[@to_key_fn]
  id from `to_key` function

%div[@id_fn, 'this_is']
  id from `id()` function

%div[290]
  number

:coffeescript
  class MyModelToKeyFunc
    to_key: -> 666

  class MyModelIdProp
    id: 23

  class MyModelIdFunc
    id: -> 42

%div[new MyModelToKeyFunc()]
  id from `to_key` function

%div[new MyModelIdProp()]
  id from `id` property

%div[new MyModelIdFunc()]
  id from `id()` function

%div[new MyModelIdFunc()]{ a: 1 }
  with Ruby param

%div[new MyModelIdFunc()](b=2)
  with Html param

%div[new MyModelIdFunc()](b=2){ a: 1 }
  with Ruby and Html param

%div[new MyModelIdFunc()]{ a: 1 }(b=2)
  with Ruby and Html param

:coffeescript

  class MyHamlObjectRef
    id: 1
    hamlObjectRef: -> 'custom'

%div[new MyHamlObjectRef()]
  with specific haml object reference
