<div id='page' style='font-family: "Lucida Grande", "Verdana"; text-align: center'></div>
<div id='page' style='font-family: "Lucida Grande", "Verdana"; text-align: center'></div>
<div id='page' style="font-family: 'Lucida Grande', 'Verdana'; text-align: center"></div>
<div id='page' style="font-family: 'Lucida Grande', 'Verdana'; text-align: center"></div>
<a href='#' title="This shouldn't be a double quote">Works now</a>
<a href='#' title='Say "hi"'>To me</a>
<div hi='Michael'></div>
<div hi='Hi Michael!'></div>
<div hi="Hi Michael'!'"></div>
<div hi='Hi Michael"!"'></div>
<div hi='Hi Michael and &#39;Michael&#39;!'></div>
<div class='clazz test'></div>
<div class='clazz hitest'></div>
<div class='clazz hitest'></div>
<a title='It&#39;s a wonderful life'>One</a>
<a title='It&#39;s a wonderful life'>Two</a>