%h1{ :foo => "headline", :bar=>"doo",:baz =>    "doo",:'data-provider'=>"fpp" }
  adfdf
%img{ :src => "/images/foobar.png", :alt => "#{@project_title}" }
%h3{ :a => "b" }
  %img{ :src => "/images/foobar.png", :alt => "#{@project_title}" }
%h4{ :a => "b" }
  %img{ :src => "/images/foobar.png", :alt => "#{@project_title}" }
%img{ :src => "/images/foobar.png", :alt => "#{@project_title}" }