%input#space-end(type='hidden' value="3" )
%input#space-start( type="hidden" value='3' )
%input#space-middle(type="hidden"  value="3")

%input#space-end{:type => "hidden", :value => '3' }
%input#space-start{ :type => 'hidden', :value => "3" }
%input#space-middle{:type => "hidden",  :value => "3"}

%input{:checked=>  0}
%input{:checked   => ""}

%input(checked=  0)
%input(checked  = "")

%input{ name: 'name' }
%a{"data-attr": 'value'}

%li{'x': 'y' }= this.x
- something = false
