<input id='space-end' type='hidden' value='3' />
<input id='space-start' type='hidden' value='3' />
<input id='space-middle' type='hidden' value='3' />
<input id='space-end' type='hidden' value='3' />
<input id='space-start' type='hidden' value='3' />
<input id='space-middle' type='hidden' value='3' />
<input checked='0' />
<input checked='' />
<input checked='0' />
<input checked='' />
<input name='name' />
<a data-attr='value'></a>
<li x='y'>1</li>
<meta http-equiv='content-type' content='text/html; charset=UTF-8' />
<meta http-equiv='content-type' content='text/html; charset=UTF-8' />
<label for='gods_sake'>It should not fail (with parenthesis)</label>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'></html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'></html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'></html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'></html>
<a data-user-role='admin'>Delete</a>
<a data-user-role='admin'>Delete</a>
<a data-user-role='admin'>Delete</a>
<a data-user-role='admin'>Delete</a>
<a data-user-role='admin'>Delete</a>
<a data-user-role='admin'>Delete</a>
<input id='space-end' type='hidden' value='3' />
<input id='space-start' type='hidden' value='3' />
<div class='share-notebook' title='bar' bar='foo'></div>
<div class='share-notebook' title='bar' bar='foo'></div>
<label class='g-label' for='input-transfer-template-repeat-number'>Время:</label>
<input class='g-field' id='input-transfer-template-repeat-number' type='text' name='transfer_template[repeat_number]' placeholder='например, 14:50' />
<span class='value' foo='foo' bar='bar' baz='baz'>Foo</span>
<span class='value' foo='foo' bar='bar' baz='baz'>Foo</span>
<span class='value' data-foo='foo' data-bar='bar'>Foo</span>
<tbody class='build-row' data-bind='foreach: { data: xs}'></tbody>
<object type='image/svg+xml' data='some.svg'></object>
<object type='image/svg+xml' data='some.svg'></object>
<object type='image/svg+xml' data='some.svg'></object>
<object data='some.svg' type='image/svg+xml'></object>
<object data='some.svg' type='image/svg+xml'></object>
<object data='some.svg' type='image/svg+xml'></object>
<input type='checkbox'>Some text:</input>
<input type='checkbox' />
Some text: