%input{:checked=>true}
%input{:checked=>'true'}
%input{:checked =>false}
%input{:checked =>'false'}
%input{:checked=>  0}
%input{:checked   => ""}
%input(checked=true)
%input(checked='true')
%input(checked= false)
%input(checked= 'false')
%input(checked=  0)
%input(checked  = "")
