%input{:checked=>true}
%input{:checked=>'true'}
%input{:checked =>false}
%input{:checked =>'false'}

%input(checked=true)
%input(checked='true')
%input(checked= false)
%input(checked= 'false')

%tag{:name => "value", :name2 =>   true, :tag   => 100}
%tag/{ :name => 'value',   :name2 => true }
%tag(name="value" name2=true ns:tag=100)
%tag/(name="value" name2=true ns:tag=100)

- boolTrue = true
- boolFalse = false
%input{"data-test": boolTrue}
%input{"data-test": boolFalse}
