-# should not be displayed
.display-this
-# will be hidden
  Will also be hidden
    So comments
  Are block-level
- a=2
=a
-# Ensure that executable JS blocks still work
- ###
- this will be in the compiled function,
- but not in the final HTML
- ###
/
  This should be a Haml comment
  and it should be in the resulting html
/  %a{:href=>''}
%p foo
-#
  This won't be displayed
    Nor will this
     Nor will this.
%h1 Hello
%div
  -# hello
  %p this should be displayed
%script
  BB.preloadedData = {};
  -# do NOT change the following two lines
  BB.preloadedData.about = [];
  BB.preloadedData.projects = [];
%h2 Hello
%script{ type: 'text/javascript' }
  BB.preloadedData = {};
  -# do NOT change the following two lines
  BB.preloadedData.about = [];
  BB.preloadedData.projects = [];
