<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div id='main'>
  <div class='note'>
    <h2>Quick Notes</h2>
    <ul>
      <li>
        Haml is usually indented with two spaces,
        although more than two is allowed.
        You have to be consistent, though.
      </li>
      <li>
        The first character of any line is called
        the "control character" - it says "make a tag"
        or "run Ruby code" or all sorts of things.
      </li>
      <li>
        Haml takes care of nicely indenting your HTML.
      </li>
      <li>
        Haml allows Ruby code and blocks.
        But not in this example.
        We turned it off for security.
      </li>
    </ul>
  </div>
  <div class='note'>
    You can get more information by reading the
    <a href='/docs/yardoc/file.HAML_REFERENCE.html'>
      Official Haml Reference
    </a>
  </div>
  <div class='note'>
    <p>
      This example doesn't allow Ruby to be executed,
      but real Haml does.
    </p>
    <p>
      Ruby code is included by using = at the
      beginning of a line.
    </p>
    <p>
      Read the tutorial for more information.
    </p>
  </div>
</div>