%section#content
  %p
    9elements is a small privately-held company in the middle of the industrial Ruhr Area, dedicated to create cutting-edge applications in combination with beautiful and functional design. Our work is influenced and inspired by a heavy bandwith of different backgrounds: from game development and interface design to state-of-the-art computer science research, from high-def programming languages to the words from the street. Our objective: to create something that works well, looks good and feels good, and eventually leaves a unique experience to its users.
  / allow comments via slash, also allow blank lines even if indentation is messed up




  %p
    Write an email to contact@9elements.com
