<div>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
</div>
<div>
  <ul><li>One</li><li>Two</li>
    <li>Three</li>
  </ul>
</div>
<div>
  <ul>
    <li>One</li><li>Two</li><li>Three</li>
  </ul>
</div>
<div>
  <ul>
    <li>One</li>
    <li>Two</li><li>Three</li></ul>
</div>
<div>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>
      Three
      Four
      Five
    </li>
  </ul>
</div>
<div>
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three
    Four
    Five</li>
  </ul>
</div>