#plain
  .text
    :plain
      Does not parse the filtered text.
  #another
    %p
      :plain
        This is useful for large blocks of text without HTML tags, when you don’t want lines starting with . or
        - to be parsed.