%div.test
  .witespace
    %p
      :preserve
        Inserts the filtered text into the template with whitespace preserved.
        Preserved blocks of text aren’t indented,
        and newlines are replaced with the HTML escape code for newlines,
        to preserve nice-looking output.
        See also Whitespace Preservation.